<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="..\static\search_engine_css.css" />
    <title>Search Engine.ai</title>
  </head>
  <body>
    <div class="container">
      <h1>AI Search Engine</h1>
      <input
        type="text"
        id="search-input"
        placeholder="Enter search query..."
      />
      <button onclick="performSearch()">Search</button>
      <div id="results-container"></div>
    </div>

    <script src="..\static\search_engine_js.js"></script>
  </body>
</html>
